@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
  @apply bg-black text-white scroll-smooth;
  font-family: 'Inter', sans-serif;
  overflow-y: scroll;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}


.bg-black-theme-rich{
  background-color: #0a0a0a;
  color: white;
}

.bg-black-theme-poor{
  background-color: black;
  color: white;
}


.text-danger {
  color: #f10000;
}

.bg-danger {
  background-color: #f10000;
}

.border-danger {
  border-color: #f10000;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background-color: #666; 
  border-radius: 6px;
  min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}


body::-webkit-scrollbar {
  display: none;
}



.shadow-text {
  color: #f10000;
  text-shadow: 0 0 1px #f10000, 0 0 3px #f10000;
}


.container {
  max-width: 1400px;
  padding-left: 1.5rem;  
  padding-right: 1.5rem;
}

@media (max-width: 1400px) {
  .container {
    padding-left: 3.75rem; 
    padding-right: 3.75rem;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
